
<!--

 // copy to css if you have to use below login 
body
{
    background: url('https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}

//------------CSS code
<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Sign Up</button>
      <button type="button" class="btn btn-primary">Login</button>
    </div>
  </form>

</div> 
-->

<body class="login2background">
  <div class="container">  
      <div class="col-lg-6 col-md-6 col-sm-8  loginbox">
          <div class=" row">
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                  <img src="https://s4.postimg.org/64q1bgunx/logo_3.png" alt="Logo" class="logo"> 
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  ">
                  <span class="singtext" >Sign in </span>   
              </div>
                           
          </div>
          <div class=" row loginbox_content ">                        
              <div class="input-group input-group-sm" >
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-user"></span>
                  </span>
                  <input class="form-control" type="text" placeholder="User name"  >
              </div>
              <br>
              <div class="input-group input-group-sm">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-lock"></span>
                  </span>
                  <input class="form-control" type="password" placeholder="Password" >
              </div>              
          </div>
          <div class="row ">                   
              <div class="col-lg-8 col-md-8  col-sm-8 col-xs-7 forgotpassword "> 
                  <a href="#"  > Forgot Username / Password?</a>                        
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4  col-xs-5 ">                        
                  <a href="#" class=" btn btn-default submit-btn">Submit <span class="glyphicon glyphicon-log-in"></span> </a> 
              </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-4 "></div>


  </div>

