<div>
  <h1 class="blankHeaderSize"> </h1>
  
  <div class="headerTitle"> Contact US Form </div>

  <div class="container">
<!-- form goes here -->
<form (ngSubmit)="processForm()" >

    <!-- name -->
    <div class="input-field">
      <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name">
    </div>
  
    <!-- email -->
    <div class="input-field">
      <input type="text" name="email" class="input" placeholder="Your Email" [(ngModel)]="email" >
    </div>
     <!-- email -->
     <div class="input-field">
        <input type="text" name="mobile" class="input" placeholder="Your Mobile No." [(ngModel)]="mobile" >
      </div>
  
    <!-- message -->
    <div class="input-field">
      <textarea class="textarea" name="message" placeholder="What's on your mind?" [(ngModel)]="message"></textarea>
    </div>
  
    <button type="submit" class="button is-danger is-large">Submit</button>
  
  </form>

  <div>

<br/>

Contact us 

<br/>
  <address> 
      Address :   Shop No-5, Survey no 88. 2 B 
      Plot. No- 10-12
      Shree Homes apartments,
      Saidapur . Satara - 415002.
      Near Yash Dabha .
      Marry angel english medium school
      <br/>
      &#9742; -  (1). 919561177756 
             <Br/>
             &#9742; -  (2). 9960022033
                    <br/>
      Email : - madan.dale@gmail.com              
       
   </address>

  </div>
</div>

</div>
