

<nav class="navbar navbar-default gradientColor">
        <div class="container-fluid">
          <div class="navbar-header">
           
            <ul class="navbar-brand navbarHeaderTitle">Dale Hop Tours & Travel</ul>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav navbar-left">
              <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-left">
            <li class="nav-item"><a class="nav-link" routerLink="Achievement">Achievement Gallary</a></li>
          </ul>
        
          <ul class="nav navbar-nav navbar-left">
            <li class="nav-item"><a class="nav-link" routerLink="AboutUs">About Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
              <li class="nav-item"><a class="nav-link" routerLink="topdonors">Top Donors</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
              <li class="nav-item"><a class="nav-link" routerLink="contactUs">Contact Us</a></li>
            </ul>
            
          <!-- Search form
          <div class="search-container navbar-right">
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div> 
            <nav class="search-container navbar-right">
                <form class="form-inline" action="/action_page.php">
                  <input class="form-control" type="text" placeholder="Search">
                  <button class="btn btn-success" type="submit">Search</button>
                </form>
              </nav>-->
        </div>
        </div>
     
</nav>
<router-outlet>

</router-outlet>
