

<div>
    <h1 class="blankHeaderSize"> </h1>
  <div class="headerTitle"> Top Donor </div>

<!--
<mat-list>
  <mat-list-item *ngFor="let donor of topDonorList">

 <div>
    <h4 matLine> {{donor.name}} 
       Amount :  {{donor.amount}}
</h4>
      </div>
    <mat-divider></mat-divider>

  </mat-list-item>
</mat-list> -->


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="myDataSource">

      <!-- Sr. No Column -->
      <ng-container matColumnDef="snumber">
        <th mat-header-cell *matHeaderCellDef> Sr. No </th>
        <td mat-cell *matCellDef="let element"> {{element.snumber}} </td>
      </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>

